Repository maidsafe/autonomi, pull requests merged in 2023-06, with the labels that each got.

#319 feat: store double spends when we detect them
  sn_node/src/spendbook.rs
  sn_protocol/src/error.rs
  sn_protocol/src/messages/cmd.rs
  sn_protocol/src/messages/response.rs
Labels: medium, waiting-for-review

#326 chore: Bump sn_dbc version to 19 for simpler signedspend debug
  Cargo.lock
  sn_cli/Cargo.toml
  sn_client/Cargo.toml
  sn_node/Cargo.toml
  sn_protocol/Cargo.toml
  sn_transfers/Cargo.toml
Labels: small, waiting-for-review

#329 chore: initial changelogs for new crates
  .github/workflows/release.yml
  .github/workflows/version_bump.yml
  release-plz.toml
  sn_build_info/CHANGELOG.md
  sn_logging/CHANGELOG.md
  sn_networking/CHANGELOG.md
  sn_peers_acquisition/CHANGELOG.md
  sn_protocol/CHANGELOG.md
  sn_record_store/CHANGELOG.md
  sn_registers/CHANGELOG.md
Labels: medium, waiting-for-review

#301 feat(node): remove delay for Identify
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#328 fix(client): carry out client random query when inactivity
  Cargo.lock
  sn_client/Cargo.toml
  sn_client/src/api.rs
  sn_node/Cargo.toml
Labels: small, waiting-for-review

#332 feat(logging): log metrics for `safe` and `safenode` bin
  Cargo.lock
  sn_cli/Cargo.toml
  sn_cli/src/main.rs
  sn_logging/Cargo.toml
  sn_logging/src/lib.rs
  sn_logging/src/metrics.rs
  sn_node/Cargo.toml
  sn_node/src/bin/safenode/main.rs
Labels: medium, waiting-for-review

#338 fix: typo fixing
  sn_client/src/api.rs
Labels: small, waiting-for-review

#335 fix(build): ensure to pull GIT_HASH via `env` call in apps directly
  sn_build_info/src/lib.rs
  sn_cli/Cargo.toml
  sn_cli/build.rs
  sn_cli/src/main.rs
  sn_client/Cargo.toml
  sn_node/Cargo.toml
  sn_node/build.rs
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#307 feat: refactor replication flow to using pull model
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  Cargo.lock
  sn_client/src/chunks/error.rs
  sn_client/src/file_apis.rs
  sn_networking/src/circular_vec.rs
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_networking/src/msg/mod.rs
  sn_networking/src/replication_fetcher.rs
  sn_node/src/api.rs
  sn_node/tests/data_with_churn.rs
  sn_protocol/src/error.rs
  sn_protocol/src/lib.rs
  sn_protocol/src/messages/cmd.rs
  sn_protocol/src/messages/query.rs
  sn_protocol/src/messages/response.rs
  sn_record_store/Cargo.toml
  sn_record_store/src/lib.rs
Labels: large, waiting-for-review

#350 chore(logs): enable metrics feature by default
  sn_cli/Cargo.toml
  sn_node/Cargo.toml
Labels: small, waiting-for-review

#354 ci: release process
  .github/workflows/release.yml
  .github/workflows/version_bump.yml
  Justfile
  release-plz.toml
Labels: large, waiting-for-review

#359 chore(client): trival log improvement
  sn_networking/src/cmd.rs
Labels: small, waiting-for-review

#352 chore: emit git info with vergen
  Cargo.lock
  sn_build_info/Cargo.toml
  sn_build_info/build.rs
  sn_build_info/src/lib.rs
  sn_cli/Cargo.toml
  sn_cli/src/main.rs
  sn_node/Cargo.toml
  sn_node/build.rs
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#369 fix(replication): prevent dropped conns during replication
  sn_node/src/api.rs
  sn_protocol/src/messages/response.rs
Labels: small, waiting-for-review

#377 fix: including the log of heap_node for statistics
  .github/workflows/memcheck.yml
Labels: small, waiting-for-review

#379 refactor: use clap env and parse multiaddr
  Cargo.lock
  sn_cli/src/cli.rs
  sn_cli/src/main.rs
  sn_node/src/bin/faucet.rs
  sn_node/src/bin/safenode/main.rs
  sn_peers_acquisition/Cargo.toml
  sn_peers_acquisition/src/lib.rs
Labels: medium, waiting-for-review

#383 feat: prune out of range record entries
  sn_networking/src/event.rs
  sn_record_store/src/lib.rs
Labels: small, waiting-for-review

#358 feat: include output DBC within payment proof for Chunks storage
  sn_cli/src/subcommands/files.rs
  sn_cli/src/subcommands/wallet.rs
  sn_client/src/file_apis.rs
  sn_client/src/lib.rs
  sn_client/src/wallet.rs
  sn_networking/src/lib.rs
  sn_node/src/api.rs
  sn_protocol/src/messages/cmd.rs
  sn_transfers/src/payment_proof/mod.rs
Labels: medium, waiting-for-review

#391 add initial benchmarks for up/download
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
  Cargo.lock
  sn_cli/Cargo.toml
  sn_cli/benches/files.rs
Labels: large, waiting-for-review

#392 ci: use throughput for benchmarking
  sn_cli/benches/files.rs
Labels: small, waiting-for-review

#394 ci: remove unused workflow
  .github/workflows/launch_testnet.yml
Labels: small, waiting-for-review

#397 ci: Benchmark node memory usage
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#399 ci: Benchmark node memory usage in main to generate charts
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
Labels: medium, waiting-for-review

#396 fix: reduce client mem usage during uploading
  sn_client/src/chunks/mod.rs
  sn_client/src/file_apis.rs
Labels: small, waiting-for-review

#405 ci: add debug step to client mem check
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#402 fix(bin): negate local-discovery check
  sn_cli/src/main.rs
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#404 chore: `--version` argument for `safenode`
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#406 ci: improve memory benchmarks
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
  sn_cli/benches/files.rs
Labels: small, waiting-for-review

#408 ci: more debug steps for benchmarks
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#410 fix: CLI is missing local-discovery feature
  sn_cli/Cargo.toml
Labels: small, waiting-for-review

#403 fix(safe): check if upload path contains a file
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#412 ci: fixing benchmark PR flow
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#414 fix: unit for client chart
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#417 fix(CI): correct client mem usage in the graph
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#415 feat(CI): check client average memory usage during upload large file
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#418 ci: remove chart gen bg job so client mem is correct
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#423 fix: update the safe files upload cmd removing more nonsense
  .github/workflows/generate-benchmark-charts.yml
Labels: small

#419 chore: reduce some log levels to make 'debug' more useful
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#424 feat(sn_networking): Make it possible to pass in a keypair for PeerID
  sn_networking/src/lib.rs
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#427 feat: provide option for log output in json
  Cargo.lock
  sn_cli/src/main.rs
  sn_logging/Cargo.toml
  sn_logging/src/lib.rs
  sn_node/examples/safenode_rpc_client.rs
  sn_node/src/bin/faucet.rs
  sn_node/src/bin/safenode/main.rs
  sn_node/tests/data_with_churn.rs
  sn_node/tests/sequential_transfers.rs
Labels: small, waiting-for-review

#431 chore(network): remove `NetworkEvent::PutRecord` dead code
  sn_client/src/api.rs
  sn_networking/src/event.rs
  sn_node/src/api.rs
  sn_node/src/put_validation.rs
Labels: medium, waiting-for-review

#425 feat(node): trigger replication when inactivity
  sn_networking/src/lib.rs
  sn_node/src/api.rs
  sn_protocol/src/messages/cmd.rs
Labels: small, waiting-for-review

#390 fix: improve client upload speed
  .github/workflows/benchmark-prs.yml
  sn_client/src/api.rs
  sn_client/src/file_apis.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#432 feat: use standarised directories for files/wallet commands
  sn_cli/src/main.rs
  sn_cli/src/subcommands/wallet.rs
  sn_transfers/src/wallet/wallet_file.rs
Labels: small, waiting-for-review

#429 chore(client): initial refactor around uploads
  sn_cli/src/subcommands/files.rs
  sn_client/src/file_apis.rs
  sn_node/tests/data_with_churn.rs
Labels: small, waiting-for-review

#428 feat(node): expose log markers in public api
  Cargo.lock
  sn_node/Cargo.toml
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
  sn_node/src/lib.rs
  sn_node/src/log_markers.rs
Labels: small, waiting-for-review

#435 feat(node): only add to routing table after Identify success
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#441 chore(networking): reduce some log levels to make 'info' more useful
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#437 chore: log detailed peer distance and kBucketTable stats
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#445 feat: append peer id to node's default root dir
  Cargo.lock
  sn_networking/Cargo.toml
  sn_networking/src/error.rs
  sn_networking/src/lib.rs
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#449 Revert "feat: append peer id to node's default root dir"
  Cargo.lock
  sn_networking/Cargo.toml
  sn_networking/src/error.rs
  sn_networking/src/lib.rs
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#450 fix: get_closest_local shall only return CLOSE_GROUP_SIZE peers
  sn_networking/src/cmd.rs
  sn_node/src/replication.rs
Labels: small, waiting-for-review

#451 ci: benchmark client download
  sn_cli/benches/files.rs
Labels: small, waiting-for-review

#454 chore(networking): make some errors log properly
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#455 feat: append peer id to node's default root dir
  Cargo.lock
  sn_networking/Cargo.toml
  sn_networking/src/error.rs
  sn_networking/src/lib.rs
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#436 Dialing without peer ID
  nohup.out
  sn_client/src/api.rs
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_node/Cargo.toml
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
  sn_node/src/lib.rs
  sn_peers_acquisition/src/lib.rs
Labels: medium, waiting-for-review

#464 fix(memcheck): add missing local-discovery feats
  .github/workflows/memcheck.yml
Labels: small, waiting-for-review

#438 feat(node): write secret key to disk and re-use
  sn_networking/src/error.rs
  sn_networking/src/lib.rs
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
Labels: medium, waiting-for-review
