Repository maidsafe/autonomi, pull requests merged in 2023-08, with the labels that each got.

#590 refactor(register)!: hashing the node of a Register to sign it instead of bincode-serialising it
  sn_client/src/register.rs
  sn_registers/src/register.rs
  sn_registers/src/register_op.rs
Labels: small, waiting-for-review

#593 ci: remove duplicate faucet claim
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#592 chore: cleanup old dead API
  sn_node/src/api.rs
  sn_node/src/get_validation.rs
  sn_protocol/src/messages/query.rs
  sn_protocol/src/messages/response.rs
Labels: small, waiting-for-review

#596 fix(ci): provide correct platform value
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
  .github/workflows/memcheck.yml
Labels: small, waiting-for-review

#600 chore(node): remove unused mut
  sn_node/src/api.rs
  sn_node/src/replication.rs
Labels: small, waiting-for-review

#603 chore(node): move inactivity search off thread + remove peer_connected
  sn_networking/src/record_store.rs
  sn_node/src/api.rs
Labels: small, waiting-for-review

#605 chore: reduce the wait after create faucet server
  sn_testnet/src/main.rs
Labels: small, waiting-for-review

#606 chore(node): NetworkEvent logs
  Cargo.lock
  sn_networking/Cargo.toml
  sn_networking/src/event.rs
  sn_node/src/api.rs
Labels: small, waiting-for-review

#597 feat(ci): analyze node and client mem usage from logs
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
  .github/workflows/memcheck.yml
Labels: large, waiting-for-review

#610 feat: only fetch close enough data during Replication
  sn_networking/src/cmd.rs
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#612 chore(ci): revert benchmark name change
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#616 chore(node): dont verify during benchmarks
  sn_cli/benches/files.rs
Labels: small, waiting-for-review

#618 test: record store pruning test
  sn_networking/src/record_store.rs
Labels: medium, waiting-for-review

#611 chore(ci): do not upload benchmark logs
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#621 chore(node): increase faucet default send
  sn_node/src/bin/faucet/faucet_server.rs
Labels: small, waiting-for-review

#625 fix(testnet): provide bootstrap peer when launching faucet
  sn_testnet/src/main.rs
Labels: small, waiting-for-review

#627 chore: tweak the storage cost curve
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#628 chore: optimize replication algorithm
  sn_node/src/api.rs
  sn_node/src/replication.rs
Labels: medium, waiting-for-review

#633 fix(ci): provide `node_data_path` for each OS
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#653 fix(client): start bootstrap when we are connected to one peer
  sn_client/src/api.rs
  sn_client/src/event.rs
Labels: small, waiting-for-review

#654 feat: UTXO and Transfer
  sn_protocol/src/error.rs
  sn_protocol/src/messages/mod.rs
  sn_protocol/src/messages/utxo.rs
Labels: medium, waiting-for-review

#657 feat(network): perform kad bootstrap from the network layer
  sn_client/src/api.rs
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_node/src/api.rs
Labels: small, waiting-for-review

#658 chore: update circular vec to handle errors.
  sn_networking/src/circular_vec.rs
  sn_networking/src/error.rs
  sn_networking/src/event.rs
  sn_networking/src/replication_fetcher.rs
Labels: small, waiting-for-review

#652 fix: fixes to allow upload file works properly
  .github/workflows/benchmark-prs.yml
  sn_cli/benches/files.rs
  sn_cli/src/subcommands/files.rs
  sn_client/src/file_apis.rs
  sn_networking/src/lib.rs
  sn_node/tests/sequential_transfers.rs
Labels: small, waiting-for-review

#662 fix(network): reject large records before sending out to network
  sn_networking/src/cmd.rs
  sn_networking/src/lib.rs
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#669 chore: rust 1.72.0 fixes
  sn_cli/benches/files.rs
  sn_node/src/api.rs
  sn_node/src/bin/safenode/main.rs
  sn_node/tests/sequential_transfers.rs
  sn_registers/src/register.rs
  sn_transfers/src/client_transfers/transfer.rs
  sn_transfers/src/payment_proof/mod.rs
Labels: small, waiting-for-review

#668 test(cli): verify bench uploads once more
  sn_cli/benches/files.rs
Labels: small, waiting-for-review

#673 fix(workspace): use new feature resolver
  Cargo.toml
Labels: small, waiting-for-review

#679 Upload parallelisation
  sn_cli/src/cli.rs
  sn_cli/src/main.rs
  sn_cli/src/subcommands/files.rs
  sn_client/src/api.rs
  sn_client/src/file_apis.rs
  sn_client/src/lib.rs
  sn_node/examples/registers.rs
  sn_node/src/bin/faucet/main.rs
  sn_node/tests/common/mod.rs
Labels: medium, waiting-for-review

#677 feat: fetch from network during network
  .github/workflows/memcheck.yml
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  sn_networking/src/circular_vec.rs
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_networking/src/msg/mod.rs
  sn_networking/src/replication_fetcher.rs
  sn_node/src/api.rs
  sn_node/src/get_validation.rs
  sn_node/src/log_markers.rs
  sn_node/src/replication.rs
  sn_protocol/src/messages/query.rs
  sn_protocol/src/messages/response.rs
Labels: large, waiting-for-review

#682 fix: correct bench download calculation
  sn_cli/benches/files.rs
Labels: small, waiting-for-review

#683 chore: some logging updates
  sn_client/src/api.rs
  sn_networking/src/replication_fetcher.rs
Labels: small, waiting-for-review

#686 Revert "add llvm path"
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#680 feat(store): implement client and node record store
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_networking/src/msg/mod.rs
  sn_networking/src/record_store.rs
  sn_networking/src/record_store_api.rs
Labels: large, waiting-for-review

#687 feat(ci): CI should fail on DoNotMerge lable
  .github/workflows/merge-queue-checks.yml
Labels: small, waiting-for-review, DoNotMerge
