Repository maidsafe/autonomi, pull requests merged in 2023-05, with the labels that each got.

#204 feat(client): allow clients to dial specific network peers
  safenode/examples/registers.rs
  safenode/src/bin/faucet.rs
  safenode/src/bin/safe/cli/mod.rs
  safenode/src/bin/safe/mod.rs
  safenode/src/client/api.rs
  safenode/src/tests_e2e/mod.rs
Labels: small, waiting-for-review

#222 feat(node): add AlreadyDialingPeer as error
  safenode/src/network/cmd.rs
  safenode/src/network/error.rs
Labels: small, waiting-for-review

#181 fix: some register TODOs
  safenode/src/domain/storage/registers/mod.rs
  safenode/src/domain/storage/spends.rs
Labels: small, waiting-for-review

#230 fix(testnet): it was reporting redundant info if it was spanned in mo…
  sn_testnet/src/check_testnet.rs
Labels: small, waiting-for-review

#234 feat: write client logs to tmp dir by default.
  safenode/src/bin/safe/mod.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#236 ci: add missing scripts for release flows
  resources/scripts/bump_version.sh
  resources/scripts/get_release_description.sh
  resources/scripts/output_versioning_info.sh
Labels: large, waiting-for-review

#240 feat: share file via file name and address
  safenode/src/bin/safe/cli/files.rs
Labels: small, waiting-for-review

#239 feat: remove transfer fees
  Cargo.lock
  safenode/Cargo.toml
  safenode/src/client/api.rs
  safenode/src/client/wallet/send_client.rs
  safenode/src/domain/client_transfers/error.rs
  safenode/src/domain/client_transfers/mod.rs
  safenode/src/domain/client_transfers/online.rs
  safenode/src/domain/client_transfers/transfer.rs
  safenode/src/domain/dbc_genesis.rs
  safenode/src/domain/fees/mod.rs
  safenode/src/domain/fees/spend_queue.rs
  safenode/src/domain/mod.rs
  safenode/src/domain/node_transfers/mod.rs
  safenode/src/domain/wallet/error.rs
  safenode/src/domain/wallet/local_store.rs
  safenode/src/domain/wallet/mod.rs
  safenode/src/node/api.rs
  safenode/src/protocol/error/mod.rs
  safenode/src/protocol/error/transfer.rs
  safenode/src/protocol/messages/cmd.rs
  safenode/src/protocol/messages/event.rs
  safenode/src/protocol/messages/fees/mod.rs
  safenode/src/protocol/messages/fees/required_fee.rs
  safenode/src/protocol/messages/fees/required_fee_content.rs
  safenode/src/protocol/messages/mod.rs
  safenode/src/protocol/messages/response.rs
  safenode/src/protocol/messages/spend.rs
  safenode/src/tests_e2e/mod.rs
Labels: large, waiting-for-review

#246 feat: client complete upload with majority Ok resps
  safenode/src/client/api.rs
Labels: small, waiting-for-review

#257 fix(node): prevent concurrent dials for local-discovery too
  safenode/src/network/event.rs
Labels: small, waiting-for-review

#256 feat: random replication to reduce cpu/mem usage
  safenode/src/domain/storage/disk_backed_record_store.rs
Labels: small, waiting-for-review

#258 fix: resolve random failing closest test
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#264 feat: dead peer detection
  Cargo.lock
  safenode/Cargo.toml
  safenode/src/network/event.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#269 chore: only wait for one OK response when client store chunk
  safenode/src/client/api.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#268 test(chunk): new test to verify Chunks data integrity during nodes churn
  safenode/src/client/file_apis.rs
  safenode/src/protocol/storage/address/chunk.rs
  safenode/src/tests_e2e/data_with_churn.rs
Labels: medium, waiting-for-review

#266 ci: add Ci job to check the memory usage
  .github/workflows/memcheck.yml
Labels: medium, waiting-for-review

#272 fix(logs): compress excess log files
  safenode/src/log/appender.rs
  safenode/src/log/mod.rs
Labels: small, waiting-for-review

#280 disable local-discovery for e2e tests
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#270 fix(node): perform random get_closest query on join
  safenode/src/node/api.rs
Labels: small, waiting-for-review

#286 fix(CI): tar client log files
  .github/workflows/memcheck.yml
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#295 refactor(node): minor re-organisation in swarm event handler
  safenode/src/network/event.rs
  safenode/src/network/mod.rs
Labels: medium, waiting-for-review

#296 test: remove closest peer test
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  safenode/src/network/mod.rs
Labels: medium, waiting-for-review

#308 ci: reenable windows churn tests
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#313 fix: small fixes to the CI script
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#309 feat: Record based DBC Spends
  Cargo.lock
  sn_cli/Cargo.toml
  sn_client/Cargo.toml
  sn_client/src/api.rs
  sn_client/src/register/offline_replica.rs
  sn_client/src/wallet/send_client.rs
  sn_domain/Cargo.toml
  sn_domain/src/client_transfers/transfer.rs
  sn_domain/src/lib.rs
  sn_domain/src/node_transfers.rs
  sn_domain/src/storage/mod.rs
  sn_domain/src/storage/registers/mod.rs
  sn_domain/src/storage/registers/reg_crdt.rs
  sn_domain/src/storage/registers/reg_replica.rs
  sn_domain/src/storage/spends.rs
  sn_domain/src/wallet/local_store.rs
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_node/Cargo.toml
  sn_node/src/api.rs
  sn_node/src/lib.rs
  sn_node/src/spendbook.rs
  sn_protocol/Cargo.toml
  sn_protocol/src/error.rs
  sn_protocol/src/error/mod.rs
  sn_protocol/src/error/transfer.rs
  sn_protocol/src/messages/cmd.rs
  sn_protocol/src/messages/event.rs
  sn_protocol/src/messages/mod.rs
  sn_protocol/src/messages/query.rs
  sn_protocol/src/messages/response.rs
  sn_protocol/src/messages/spend.rs
Labels: large, waiting-for-review
