Repository maidsafe/autonomi, pull requests merged in 2023-09, with the labels that each got.

#690 test(ci): adding test to verify total rewards balances after chunks upload
  sn_node/tests/storage_payments.rs
Labels: small, waiting-for-review

#684 refactor: optimise getting furthest record
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#693 chore(node): add valid put log markers
  sn_node/src/log_markers.rs
  sn_node/src/put_validation.rs
Labels: small, waiting-for-review, DoNotMerge

#689 disable `CARGO_TARGET_DIR` to speedup build time
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#698 fix permissions for public register creation
  sn_client/src/register.rs
Labels: small, waiting-for-review

#701 refactor some node payment for efficiency
  sn_node/src/put_validation.rs
Labels: small, waiting-for-review

#702 chore: utilize encrypt_from_file
  Cargo.lock
  sn_client/Cargo.toml
  sn_client/src/chunks/pac_man.rs
  sn_node/Cargo.toml
  sn_registers/Cargo.toml
Labels: small, waiting-for-review

#695 WIP: CI should fail on DoNotMerge lable
  .github/workflows/label-check.yml
  .github/workflows/merge-queue-checks.yml
Labels: small, waiting-for-review

#704 test(ci): isolate nodes rewards test run to prevent from unrelated rewards
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  sn_node/tests/common/mod.rs
  sn_node/tests/nodes_rewards.rs
  sn_node/tests/storage_payments.rs
Labels: medium, waiting-for-review

#708 setup color eyre
  Cargo.lock
  sn_cli/src/main.rs
  sn_cli/src/subcommands/register.rs
  sn_node/Cargo.toml
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#709 ci: increase nightly churn run time
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#710 fix(node): accept fees _near_ our current store cost.
  sn_node/src/put_validation.rs
Labels: small, waiting-for-review

#714 chore: rotate logs after exceeding 20mb
  sn_logging/src/appender.rs
  sn_logging/src/lib.rs
Labels: small, waiting-for-review

#713 fix(ci): enable cargo dir env variable for nightly run
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#719 ci: do not bail on benchmark generation if exceeding thresholds
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#718 chore: utilize stream encryptor
  .github/workflows/benchmark-prs.yml
  Cargo.lock
  sn_cli/src/subcommands/wallet.rs
  sn_client/Cargo.toml
  sn_client/src/chunks/pac_man.rs
  sn_client/src/error.rs
  sn_client/src/file_apis.rs
  sn_node/Cargo.toml
  sn_node/tests/common/mod.rs
  sn_node/tests/data_with_churn.rs
  sn_node/tests/nodes_rewards.rs
  sn_node/tests/storage_payments.rs
  sn_node/tests/verify_data_location.rs
  sn_registers/Cargo.toml
Labels: large, waiting-for-review

#724 feat: utilize stream decryptor
  sn_cli/src/subcommands/files.rs
  sn_client/src/file_apis.rs
  sn_node/tests/data_with_churn.rs
  sn_node/tests/storage_payments.rs
Labels: medium, waiting-for-review

#725 chore(client): remove unused wallet_client
  sn_client/src/file_apis.rs
  sn_node/tests/nodes_rewards.rs
  sn_node/tests/storage_payments.rs
  sn_node/tests/verify_data_location.rs
Labels: small, waiting-for-review

#731 ci: do reward tests _first_
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#732 fix(cli): repay and upload after verifying all the chunks
  sn_cli/src/subcommands/files.rs
  sn_client/src/file_apis.rs
Labels: medium, waiting-for-review

#734 chore(client): simplify API
  sn_client/src/file_apis.rs
Labels: small, waiting-for-review

#735 feat(client): download file concurrently
  sn_client/src/file_apis.rs
Labels: small, waiting-for-review

#736 chore: some cleanups within the upload procedure
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#738 fix: avoid verification too close to put; remove un-necessary wait fo…
  sn_cli/src/subcommands/files.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#739 Shorter wait on verfication
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#737 chore(networking): remove the quote from names as it's misleading
  sn_networking/src/error.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#742 feat: log payment amount
  sn_node/src/put_validation.rs
Labels: small, waiting-for-review

#740 chore: error handling when failed fetch store cost
  sn_cli/src/subcommands/files.rs
  sn_client/src/wallet.rs
Labels: small, waiting-for-review

#744 chore: update deps
  Cargo.lock
Labels: large, waiting-for-review

#746 chore(ntworking): record changes to range of responsibility
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#750 fix: make clearer cli send asks for whole token amounts, not nanos
  sn_cli/src/subcommands/wallet.rs
Labels: small, waiting-for-review

#754 ci: fix x-platform release builds for protobuf compiler
  .github/workflows/release.yml
Labels: small, waiting-for-review

#755 ci: use action to install protobuf
  .github/workflows/benchmark-prs.yml
  .github/workflows/build-release-artifacts.yml
  .github/workflows/generate-benchmark-charts.yml
  .github/workflows/memcheck.yml
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
Labels: medium, waiting-for-review

#756 ci: disable arm builds for now
  .github/workflows/release.yml
Labels: small, waiting-for-review

#757 fix: revert protoc/tonic-build update, remove protoc-builder install …
  .github/workflows/benchmark-prs.yml
  .github/workflows/build-release-artifacts.yml
  .github/workflows/generate-benchmark-charts.yml
  .github/workflows/memcheck.yml
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  Cargo.lock
  sn_node/Cargo.toml
  sn_testnet/Cargo.toml
Labels: medium, waiting-for-review

#752 feat: downward compatible for patch version updates
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#760 chore: more iterations for verify reward update
  sn_node/tests/nodes_rewards.rs
Labels: small, waiting-for-review

#759 ci :reduce the tes duration of churn and verify.
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#762 chore(networking): reduce identify log noise
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#764 feat(cli): deps update and arbitrary change for cli
  Cargo.lock
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#765 chore(client): serialize ClientEvent
  sn_client/src/event.rs
Labels: small, waiting-for-review

#768 feat(cli): wrap repayment error for clarity
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#767 ci: reduce client bench mem limits
  .github/workflows/benchmark-prs.yml
Labels: small, waiting-for-review

#769 Remove unused nohup.out
  nohup.out
Labels: small, waiting-for-review

#770 refactor(transfers): unused variable removal
  sn_transfers/src/wallet/local_store.rs
Labels: small, waiting-for-review

#771 feat(apis): adding client and node APIs, as well as safenode RPC serv…
  sn_cli/Cargo.toml
  sn_cli/src/subcommands/gossipsub.rs
  sn_client/src/api.rs
  sn_networking/src/cmd.rs
  sn_networking/src/lib.rs
  sn_node/examples/safenode_rpc_client.rs
  sn_node/src/api.rs
  sn_node/src/bin/safenode/rpc.rs
  sn_node/src/protocol/safenode_proto/req_resp_types.proto
  sn_node/src/protocol/safenode_proto/safenode.proto
  sn_node/tests/msgs_over_gossipsub.rs
Labels: medium, waiting-for-review

#659 feat(close group): Change close group size to 5
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#775 feat(client): fail fast when a chunk is missing
  sn_client/src/chunks/error.rs
  sn_client/src/file_apis.rs
Labels: small, waiting-for-review

#778 feat: client to client transfers
  README.md
  sn_cli/src/subcommands/wallet.rs
  sn_client/src/api.rs
  sn_client/src/wallet.rs
  sn_node/tests/data_with_churn.rs
  sn_node/tests/storage_payments.rs
  sn_transfers/benches/reissue.rs
  sn_transfers/src/cashnotes/address.rs
  sn_transfers/src/cashnotes/builder.rs
  sn_transfers/src/cashnotes/cashnote.rs
  sn_transfers/src/cashnotes/fee_output.rs
  sn_transfers/src/cashnotes/mod.rs
  sn_transfers/src/cashnotes/nano.rs
  sn_transfers/src/cashnotes/reason_hash.rs
  sn_transfers/src/cashnotes/signed_spend.rs
  sn_transfers/src/cashnotes/transaction.rs
  sn_transfers/src/cashnotes/unique_keys.rs
  sn_transfers/src/error.rs
  sn_transfers/src/lib.rs
  sn_transfers/src/transfers/error.rs
  sn_transfers/src/transfers/mod.rs
  sn_transfers/src/transfers/offline_transfer.rs
  sn_transfers/src/transfers/transfer.rs
  sn_transfers/src/wallet/error.rs
  sn_transfers/src/wallet/local_store.rs
  sn_transfers/src/wallet/mod.rs
  sn_transfers/src/wallet/transfer.rs
  sn_transfers/src/wallet/wallet_file.rs
Labels: large, waiting-for-review

#780 fix(client): just skip empty files
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#781 fix(cli): dont bail on errors during repay/upload
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#779 feat: replicate fetch from peer first then from network
  .github/workflows/memcheck.yml
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_networking/src/replication_fetcher.rs
  sn_node/src/api.rs
  sn_node/src/log_markers.rs
  sn_node/src/replication.rs
  sn_protocol/src/error.rs
  sn_protocol/src/messages/mod.rs
  sn_protocol/src/messages/query.rs
  sn_protocol/src/messages/response.rs
Labels: large, waiting-for-review
