Repository maidsafe/autonomi, pull requests merged in 2023-04, with the labels that each got.

#33 feat: add a basic level of churn to nodes
  safenode/Cargo.toml
  safenode/src/bin/kadnode.rs
  safenode/src/lib.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#35 chore(style): some further request division
  safenode/src/bin/kadnode.rs
  safenode/src/network/cmd.rs
  safenode/src/network/mod.rs
  safenode/src/network/msg/codec.rs
  safenode/src/network/msg/mod.rs
Labels: medium, waiting-for-review

#34 ci: add basic build checks to test against
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#37 chore: remove deps, remove EnvFilter
  safenode/Cargo.toml
  safenode/src/log/mod.rs
  sn_testnet/Cargo.toml
  sn_testnet/src/main.rs
Labels: small, waiting-for-review

#51 chore: remove unused image file
  assets/ant.png
Labels: small, waiting-for-review

#59 chore: disable random restart
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#60 chore: various minor adjustments
  safenode/src/bin/kadnode.rs
  safenode/src/network/cmd.rs
  safenode/src/network/event.rs
  safenode/src/network/mod.rs
  safenode/src/network/msg/mod.rs
  safenode/src/node/mod.rs
Labels: medium, waiting-for-review

#61 refactor(node): don't have client fn on nodes
  safenode/src/bin/kadnode.rs
  safenode/src/node/api.rs
  safenode/src/node/error.rs
  safenode/src/node/mod.rs
  safenode/src/protocol/messages/cmd.rs
  safenode/src/protocol/messages/mod.rs
  safenode/src/protocol/messages/query.rs
  safenode/src/protocol/messages/register.rs
  safenode/src/protocol/messages/response.rs
  safenode/src/protocol/types/address/mod.rs
  safenode/src/protocol/types/authority.rs
  safenode/src/protocol/types/error.rs
  safenode/src/protocol/types/mod.rs
  safenode/src/protocol/types/register/mod.rs
  safenode/src/protocol/types/register/policy.rs
  safenode/src/protocol/types/register/reg_crdt.rs
  safenode/src/storage/chunks.rs
  safenode/src/storage/mod.rs
  safenode/src/storage/register_store.rs
  safenode/src/storage/registers.rs
Labels: large, waiting-for-review

#63 feat: boundary of get_closest_peers
  safenode/src/network/cmd.rs
  safenode/src/network/event.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#73 fix(network): replace generic Error types with more specific ones
  safenode/Cargo.toml
  safenode/src/network/cmd.rs
  safenode/src/network/error.rs
  safenode/src/network/event.rs
  safenode/src/network/msg/mod.rs
  safenode/src/node/error.rs
  safenode/src/protocol/messages/mod.rs
Labels: medium, waiting-for-review

#74 feat: count self in the close group
  safenode/src/network/cmd.rs
  safenode/src/network/event.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#77 chore: remove empty file
  safenode/src/protocol/messages/spend.rs
Labels: small, waiting-for-review

#81 fix: avoid lost spawned handler
  README.md
  safenode/src/client/api.rs
Labels: small, waiting-for-review

#82 feat: random query on peer added
  safenode/src/bin/kadclient.rs
  safenode/src/client/api.rs
  safenode/src/network/event.rs
  safenode/src/network/mod.rs
  safenode/src/node/api.rs
Labels: small, waiting-for-review

#85 feat(node): specify ip and port to listen on
  safenode/src/bin/kadnode.rs
  safenode/src/network/mod.rs
  safenode/src/node/api.rs
Labels: small, waiting-for-review

#84 test: network CI tests involves client actions
  .github/workflows/merge.yml
  safenode/src/bin/kadclient.rs
  safenode/src/client/api.rs
Labels: medium, waiting-for-review

#86 feat(api): Register client API
  .github/workflows/merge.yml
  README.md
  safenode/examples/registers.rs
  safenode/src/bin/kadclient.rs
  safenode/src/client/api.rs
  safenode/src/client/error.rs
  safenode/src/client/mod.rs
  safenode/src/client/register/mod.rs
  safenode/src/client/register/offline_replica.rs
  safenode/src/protocol/types/register/mod.rs
  safenode/src/protocol/types/register/reg_crdt.rs
Labels: large, waiting-for-review

#90 feat: add the transfer fees and spend queue logic
  safenode/Cargo.toml
  safenode/src/protocol/types/fees/error.rs
  safenode/src/protocol/types/fees/fee_ciphers.rs
  safenode/src/protocol/types/fees/mod.rs
  safenode/src/protocol/types/fees/priority.rs
  safenode/src/protocol/types/fees/required_fee.rs
  safenode/src/protocol/types/fees/required_fee_content.rs
  safenode/src/protocol/types/fees/spend_queue.rs
  safenode/src/protocol/types/mod.rs
Labels: large, waiting-for-review

#102 fix vanishing outputs #92
  safenode/src/protocol/types/transfers/mod.rs
Labels: small, waiting-for-review

#97 ci: disable e2e tests from PR checks
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#104 feat(api): additional Register client API
  safenode/examples/registers.rs
  safenode/src/client/api.rs
  safenode/src/client/register/mod.rs
  safenode/src/client/register/offline_replica.rs
  safenode/src/protocol/types/register/mod.rs
Labels: small, waiting-for-review

#107 ci: remove merge workflow run on push to main
  .github/workflows/daily_run.yml
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#98 feat: extend kadclient to up-/download files
  safenode/src/bin/kadclient.rs
  safenode/src/client/api.rs
  safenode/src/client/file_apis.rs
  safenode/src/client/mod.rs
Labels: small, waiting-for-review

#112 chore: rearrange the code
  safenode/src/protocol/offline_transfers/mod.rs
Labels: medium, waiting-for-review

#119 ci: fix nightly run name yml issue
  .github/workflows/daily_run.yml
Labels: small, waiting-for-review

#120 Update README.md
  README.md
Labels: small, waiting-for-review, docs

#118 feat: register spends in the network
  safenode/src/client/wallet.rs
  safenode/src/network_transfers/mod.rs
  safenode/src/node/api.rs
  safenode/src/protocol/messages/cmd.rs
  safenode/src/protocol/transfers/mod.rs
  safenode/src/protocol/transfers/offline.rs
  safenode/src/protocol/transfers/online.rs
  safenode/src/protocol/wallet/local_store.rs
Labels: medium, waiting-for-review

#123 chore: improve naming
  safenode/src/protocol/transfers/mod.rs
  safenode/src/protocol/transfers/offline.rs
  safenode/src/protocol/transfers/online.rs
Labels: small, waiting-for-review

#124 refactor: move node transfer logic to protocol
  safenode/src/client/wallet.rs
  safenode/src/lib.rs
  safenode/src/node/api.rs
  safenode/src/node/mod.rs
  safenode/src/protocol/client_transfers/error.rs
  safenode/src/protocol/client_transfers/mod.rs
  safenode/src/protocol/client_transfers/offline.rs
  safenode/src/protocol/client_transfers/online.rs
  safenode/src/protocol/error.rs
  safenode/src/protocol/messages/event.rs
  safenode/src/protocol/mod.rs
  safenode/src/protocol/node_transfers/error.rs
  safenode/src/protocol/node_transfers/mod.rs
  safenode/src/protocol/wallet/error.rs
  safenode/src/protocol/wallet/local_store.rs
  safenode/src/protocol/wallet/mod.rs
  safenode/src/storage/spends.rs
Labels: small, waiting-for-review

#126 Log when a peer disconnects
  safenode/src/network/event.rs
  startup
Labels: small, waiting-for-review

#125 feat(node): dial peers on startup
  safenode/src/bin/kadnode.rs
  safenode/src/client/api.rs
  safenode/src/network/event.rs
  safenode/src/node/api.rs
  safenode/src/node/mod.rs
Labels: small, waiting-for-review

#130 WIP test: client CLI confirming dead node gone in closest
  safenode/src/bin/kadclient.rs
  safenode/src/bin/kadnode.rs
  safenode/src/client/api.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#135 ci: re add test runs on main. for verifiable history
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#137 chore: move storage to protocol
  safenode/src/lib.rs
  safenode/src/node/api.rs
  safenode/src/node/mod.rs
  safenode/src/protocol/mod.rs
  safenode/src/protocol/node_transfers/mod.rs
  safenode/src/protocol/storage/chunks.rs
  safenode/src/protocol/storage/mod.rs
  safenode/src/protocol/storage/register_store.rs
  safenode/src/protocol/storage/registers.rs
  safenode/src/protocol/storage/spends.rs
  safenode/src/protocol/storage/used_space.rs
Labels: small, waiting-for-review

#138 refactor: remove used space
  safenode/src/protocol/error.rs
  safenode/src/protocol/node_transfers/error.rs
  safenode/src/protocol/storage/chunks.rs
  safenode/src/protocol/storage/mod.rs
  safenode/src/protocol/storage/register_store.rs
  safenode/src/protocol/storage/spends.rs
  safenode/src/protocol/storage/used_space.rs
Labels: medium

#141 chore: remove file logs from client cli
  safenode/src/bin/cli/files.rs
  safenode/src/bin/cli/mod.rs
  safenode/src/bin/cli/wallet.rs
  safenode/src/bin/kadclient.rs
Labels: small, waiting-for-review

#143 ci: dont run mac/win for PRs
  .github/workflows/daily_run.yml
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#145 ci: remove merge run on main
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#149 feat: detect dead peer
  safenode/src/bin/safenode/main.rs
  safenode/src/network/event.rs
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#151 fix: proper store and parse chunks_to_fetch
  .github/workflows/daily_run.yml
  .github/workflows/merge.yml
  safenode/src/bin/cli/files.rs
Labels: small, waiting-for-review

#160 fix: do not panic in cli
  safenode/src/bin/cli/files.rs
  safenode/src/bin/cli/register.rs
  safenode/src/bin/cli/wallet.rs
Labels: small, waiting-for-review

#171 fix: use correct name for downloaded files
  safenode/src/bin/cli/files.rs
Labels: small, waiting-for-review

#176 fix: add root dir to node startup
  safenode/src/bin/safenode/main.rs
  safenode/src/node/api.rs
  sn_testnet/src/lib.rs
Labels: small, waiting-for-review

#184 chore: rename RequestResponse to MsgReceived
  safenode/src/network/event.rs
Labels: small, waiting-for-review

#185 fix: make client cfg consistent with node
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#186 Terminate on get failure
  safenode/src/client/chunks/mod.rs
  safenode/src/network/event.rs
Labels: small, waiting-for-review

#187 chore: add faucet claim genesis e2e test
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#183 fix: init logger for client executables
  safenode/examples/safenode_rpc_client.rs
  safenode/src/bin/safe/cli/files.rs
  safenode/src/bin/safe/cli/register.rs
  safenode/src/bin/safe/cli/wallet.rs
  safenode/src/bin/safe/mod.rs
  safenode/src/client/api.rs
  safenode/src/domain/dbc_genesis.rs
  safenode/src/domain/storage/spends.rs
  safenode/src/domain/wallet/wallet_file.rs
  safenode/src/network/mod.rs
  safenode/src/node/api.rs
  safenode/src/tests_e2e/mod.rs
Labels: medium, waiting-for-review

#194 fast refresh delays
  safenode/src/network/mod.rs
Labels: small, waiting-for-review

#195 chore: disable some very verbose log outputs
  safenode/src/client/api.rs
  safenode/src/domain/node_transfers/error.rs
  safenode/src/domain/storage/error.rs
  safenode/src/domain/storage/spends.rs
  safenode/src/network/msg/mod.rs
  safenode/src/node/api.rs
  safenode/src/protocol/messages/event.rs
  safenode/src/protocol/messages/mod.rs
Labels: small, waiting-for-review

#208 fix: use println instead of print
  safenode/src/bin/safe/cli/files.rs
Labels: small, waiting-for-review

#209 feat(node): node to broadcast storage events for Chunks, Registers and DBC Spends
  safenode/src/bin/safenode/main.rs
  safenode/src/node/api.rs
  safenode/src/node/event.rs
Labels: small, waiting-for-review
