Repository maidsafe/autonomi, pull requests merged in 2023-10, with the labels that each got.

#782 chore(client): more logs around StoreCost retrieveal
  sn_client/src/wallet.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#783 feat(client): show feedback on long wait for costs
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#786 feat: remove unused fee output
  sn_transfers/src/cashnotes/builder.rs
  sn_transfers/src/cashnotes/cashnote.rs
  sn_transfers/src/cashnotes/fee_output.rs
  sn_transfers/src/cashnotes/mod.rs
  sn_transfers/src/cashnotes/transaction.rs
  sn_transfers/src/lib.rs
  sn_transfers/src/transfers/offline_transfer.rs
Labels: medium, waiting-for-review

#785 Remove failed records
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_networking/src/record_store.rs
  sn_node/src/api.rs
Labels: small, waiting-for-review

#790 chore(logging): reduce metric frequency and logged stats.
  sn_logging/src/metrics.rs
Labels: small, waiting-for-review

#792 feat: faucet retry genesis claim on failure
  sn_node/src/bin/faucet/faucet_server.rs
  sn_node/src/bin/faucet/main.rs
Labels: small, waiting-for-review

#798 feat(client): log the command invoked for safe
  sn_cli/src/main.rs
Labels: small, waiting-for-review

#799 fix: record_to_verify for store_chunk shall be a Chunk
  sn_client/src/api.rs
Labels: small, waiting-for-review

#800 fix(wallet): remove expect statments
  sn_client/src/wallet.rs
Labels: small, waiting-for-review

#804 fix(sn_transfers): be sure we store CashNotes before writing the wall…
  sn_cli/src/subcommands/wallet.rs
  sn_client/src/faucet/mod.rs
  sn_client/src/wallet.rs
  sn_node/src/api.rs
  sn_node/src/put_validation.rs
  sn_transfers/src/genesis.rs
  sn_transfers/src/wallet/local_store.rs
Labels: small, waiting-for-review

#805 ci: reduce memcheck churn test time
  .github/workflows/memcheck.yml
Labels: small, waiting-for-review

#810 fix(sn_networking): actually retry PUTs
  sn_networking/src/error.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#814 feat: ensure temp SE chunks got cleaned after uploading
  sn_cli/Cargo.toml
  sn_cli/src/subcommands/files.rs
  sn_cli/src/subcommands/wallet.rs
Labels: small, waiting-for-review

#818 chore(networking): remove identify clone and collect
  sn_transfers/src/cashnotes/builder.rs
Labels: small, waiting-for-review

#817 fix(sn_networking): reduce kad query timeout
  sn_networking/src/driver.rs
Labels: small, waiting-for-review

#815 test: compare files after download twice
  .github/workflows/memcheck.yml
  sn_client/Cargo.toml
  sn_node/Cargo.toml
  sn_registers/Cargo.toml
Labels: small, waiting-for-review

#819 chore: dep updates
  Cargo.lock
Labels: large, waiting-for-review

#806 fix: make client handle payment error
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#823 ci: prevent concurrent release and version bumping
  .github/workflows/release.yml
  .github/workflows/version_bump.yml
Labels: small

#821 fix: handling GetClosestPeers query error branch
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#827 chore: more detailed logging when client creating store cash_note
  sn_client/src/wallet.rs
  sn_transfers/src/wallet/local_store.rs
Labels: small, waiting-for-review

#829 feat(sn_transfers): dont load Cns from disk, store value along w/ pub…
  sn_node/tests/storage_payments.rs
  sn_transfers/src/cashnotes/unique_keys.rs
  sn_transfers/src/transfers/mod.rs
  sn_transfers/src/transfers/offline_transfer.rs
  sn_transfers/src/wallet/local_store.rs
Labels: small, waiting-for-review

#831 chore: remove some low level println
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#832 fix(node): println->debug statement
  sn_networking/src/event.rs
Labels: small

#833 chore(client): dont println for sn_networking
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#836 fix: batch download process
  sn_client/src/file_apis.rs
Labels: small, waiting-for-review

#837 fix(network): check `RecordHeader` during chunk early completion
  sn_networking/src/event.rs
  sn_protocol/src/storage/header.rs
Labels: small, waiting-for-review

#834 fix(network): perfrom bootstrapping continuously
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#847 feat: keep transfers in mem instead of mem and i/o heavy cashnotes
  sn_client/src/wallet.rs
  sn_transfers/src/transfers/offline_transfer.rs
  sn_transfers/src/wallet/local_store.rs
Labels: small, waiting-for-review

#848 test: retry and verify reg upload during reward test
  sn_node/tests/nodes_rewards.rs
Labels: small, waiting-for-review

#830 feat: forced replication after fixed interval
  sn_node/src/api.rs
  sn_node/src/log_markers.rs
Labels: small, waiting-for-review

#846 chore: logging a node's representitive record_key address
  sn_networking/src/driver.rs
  sn_networking/src/lib.rs
  sn_node/src/replication.rs
Labels: small, waiting-for-review

#859 fix(network): emit NetworkEvent when we publish a gossipsub msg
  sn_client/src/api.rs
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_node/src/api.rs
  sn_node/src/put_validation.rs
Labels: small, waiting-for-review

#861 ci: prevent concurrent version bumps, and await on release before we …
  .github/workflows/version_bump.yml
Labels: small, waiting-for-review

#866 ci: try a different wait action once more
  .github/workflows/version_bump.yml
Labels: small, waiting-for-review

#860 fix: RegisterAddress logging with correct network addressing
  sn_registers/src/address.rs
Labels: small, waiting-for-review

#867 chore: print the PeerId along with the raw bytes
  sn_protocol/src/lib.rs
Labels: small, waiting-for-review

#869 ci: allow wait workflow to fail
  .github/workflows/version_bump.yml
Labels: small, waiting-for-review

#868 feat: log network address with KBucketKey
  Cargo.lock
  sn_networking/src/driver.rs
  sn_networking/src/error.rs
  sn_networking/src/lib.rs
  sn_node/src/replication.rs
  sn_protocol/Cargo.toml
  sn_protocol/src/lib.rs
Labels: small, waiting-for-review

#872 fix(network): prevent cloning of all our peers while sorting them
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_node/src/replication.rs
  sn_node/tests/verify_data_location.rs
Labels: small, waiting-for-review

#878 chore: use tokio::Interval to trigger forced replication
  sn_node/src/node.rs
Labels: small, waiting-for-review

#881 fix(cli): don't bail if a payment was not found during veridy/repayment
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#883 chore(networking): remove unused content hash
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#882 fix: filter duplicated peers when replication
  sn_node/src/replication.rs
Labels: small, waiting-for-review

#895 fix(node): dont try and replicate to non existent peers
  sn_node/src/node.rs
Labels: small, waiting-for-review

#902 refactor: pass RecordKey by reference
  sn_networking/src/record_store.rs
  sn_networking/src/replication_fetcher.rs
  sn_node/src/replication.rs
  sn_protocol/src/lib.rs
Labels: small, waiting-for-review

#901 fix: typos
  sn_logging/src/lib.rs
  sn_networking/src/error.rs
  sn_node/tests/verify_data_location.rs
  sn_registers/src/reg_crdt.rs
  sn_transfers/src/transfers/transfer.rs
Labels: small, waiting-for-review

#910 chore: update libp2p req/resp + autonat dep
  Cargo.lock
Labels: small, waiting-for-review

#911 refactor: make rpc client a bin
  README.md
  resources/scripts/network_churning.sh
  sn_node/Cargo.toml
  sn_node/src/bin/safenode_rpc_client.rs
Labels: small, waiting-for-review

#914 feat: bincode::serialize into `Bytes` without intermediate allocation
  sn_client/src/chunks/pac_man.rs
  sn_client/src/file_apis.rs
  sn_node/src/put_validation.rs
  sn_transfers/src/wallet/wallet_file.rs
Labels: small, waiting-for-review

#915 feat(cli): error out if we do not have enough balance
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#916 Serialize direct to Bytes
  sn_client/src/api.rs
  sn_client/src/register.rs
  sn_networking/src/record_store.rs
  sn_node/src/node.rs
  sn_node/src/put_validation.rs
  sn_node/src/replication.rs
  sn_protocol/src/messages/response.rs
  sn_protocol/src/storage/header.rs
Labels: small, waiting-for-review

#919 feat(rpc-client): allow to set peers to connect to in order to valida…
  sn_node/src/bin/safenode_rpc_client.rs
Labels: small, waiting-for-review

#918 refactor(node): using unsigned gossipsub msgs
  sn_networking/src/driver.rs
  sn_networking/src/error.rs
Labels: small, waiting-for-review
