Repository maidsafe/autonomi, pull requests merged in 2023-03, with the labels that each got.

#8 feat(node): use a random port @ startup, write config if none exists
  .gitignore
  README.md
  peers.json
  safenode/Cargo.toml
  safenode/src/bin/log/appender.rs
  safenode/src/bin/log/mod.rs
  safenode/src/bin/safenode.rs
  safenode/src/comms/mod.rs
  safenode/src/comms/node_link.rs
  safenode/src/error.rs
  safenode/src/lib.rs
  safenode/src/stableset/membership.rs
  safenode/src/stableset/mod.rs
  safenode/src/stableset/ping.rs
  safenode/src/stableset/stable_set.rs
  sn_testnet/src/lib.rs
  sn_testnet/src/main.rs
Labels: large, waiting-for-review

#16 refactor: Unify stable set
  .gitignore
  safenode/src/stableset/membership.rs
  safenode/src/stableset/mod.rs
  safenode/src/stableset/stable_set.rs
  safenode/src/stableset/stableset_msg.rs
Labels: large, waiting-for-review

#19 feat(node): properly handle joined nodes before sync
  safenode/src/comms/listener.rs
  safenode/src/stableset/mod.rs
  safenode/src/stableset/stable_set.rs
Labels: small, waiting-for-review

#24 search for xorname
  safenode/Cargo.toml
  safenode/src/bin/kadnode.rs
Labels: small, waiting-for-review

#23 fix(logs): enable log level through env variable
  safenode/src/bin/log/mod.rs
Labels: small, waiting-for-review

#26 feat(ci): enable clippy, rustfmt, udeps
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#28 chore: remove that big ole image
  README.md
Labels: small, waiting-for-review, docs
