Repository maidsafe/autonomi, pull requests merged in 2023-11, with the labels that each got.

#921 chore(node): don't log the transfers events
  sn_node/src/event.rs
  sn_transfers/src/transfers/transfer.rs
Labels: small, waiting-for-review

#923 feat(networking): finish query when stop tracking
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#928 feat: keep transfers in mem instead of heavy cashnotes
  sn_client/src/wallet.rs
  sn_node/src/put_validation.rs
  sn_transfers/src/transfers/offline_transfer.rs
  sn_transfers/src/transfers/transfer.rs
  sn_transfers/src/wallet/local_store.rs
Labels: medium, waiting-for-review

#925 refactor(networking): use Entry API for query task
  sn_networking/src/event.rs
Labels: small, waiting-for-review

#929 chore(cli): make file upload output cut n paste friendly
  sn_cli/src/subcommands/files.rs
Labels: small, waiting-for-review

#936 Compiling with libp2p branch
  .DS_Store
  Cargo.lock
  metrics/Cargo.toml
  sn_cli/Cargo.toml
  sn_client/Cargo.toml
  sn_networking/Cargo.toml
  sn_networking/src/driver.rs
  sn_networking/src/error.rs
  sn_networking/src/event.rs
  sn_networking/src/metrics.rs
  sn_networking/src/record_store.rs
  sn_node/Cargo.toml
  sn_peers_acquisition/Cargo.toml
  sn_protocol/Cargo.toml
  sn_testnet/Cargo.toml
Labels: large, waiting-for-review

#937 chore: using libp2p newly exposed API to avoid hash work
  sn_protocol/src/lib.rs
Labels: small, waiting-for-review

#938 test(protocol): use exposed hashed_bytes method
  sn_protocol/src/lib.rs
Labels: small, waiting-for-review

#941 chore(ci): use latest cargo udeps
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#944 chore: change extension to small letters
  sn_faucet/README.md
Labels: small, waiting-for-review, docs

#943 feat(ci): release faucet and rpc binaries
  .github/workflows/build-release-artifacts.yml
  .github/workflows/release.yml
  Justfile
Labels: small, waiting-for-review

#935 Derive Clone on ClientRegister
  sn_client/src/register.rs
Labels: small, waiting-for-review

#942 feat(node): set custom msg id in order to deduplicate transfer notifs
  Cargo.lock
  sn_client/src/api.rs
  sn_networking/Cargo.toml
  sn_networking/src/driver.rs
  sn_node/src/event.rs
  sn_node/src/node.rs
  sn_node/src/put_validation.rs
  sn_node/tests/nodes_rewards.rs
  sn_node_rpc_client/src/main.rs
  sn_protocol/src/error.rs
Labels: medium, waiting-for-review

#946 refactor(networking): use internal libp2p method
  sn_networking/src/driver.rs
Labels: small, waiting-for-review

#950 fix: stop bootstrap once connected to enough peers
  sn_networking/src/bootstrap.rs
Labels: small, waiting-for-review

#953 chore: simplify when construct payess for storage
  sn_transfers/src/wallet/local_store.rs
Labels: small, waiting-for-review

#955 fix(test): fetch record_holders during retry
  sn_node/tests/verify_data_location.rs
Labels: small, waiting-for-review

#949 chore(cli): disable silent ignoring of wallet errors
  sn_cli/src/subcommands/wallet.rs
Labels: small, waiting-for-review

#956 feat: no throwing up if not a gossip listener
  sn_client/src/api.rs
  sn_networking/src/cmd.rs
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_node/src/lib.rs
  sn_node/src/node.rs
  sn_node/tests/nodes_rewards.rs
Labels: small, waiting-for-review

#959 fix: avoid infinite looping on verification during upload
  sn_cli/src/subcommands/files/mod.rs
Labels: small, waiting-for-review

#960 fix(cli): failed to move chunk path shall not get deleted
  sn_cli/src/subcommands/files/chunk_manager.rs
Labels: small, waiting-for-review

#963 fix(cli): repay unpaid chunks due to transfer failures
  sn_cli/src/subcommands/files/mod.rs
Labels: small, waiting-for-review

#965 fix(cli): marking chunks as verified should mark them as paid too
  sn_cli/src/subcommands/files/chunk_manager.rs
Labels: small, waiting-for-review

#966 feat(networking): drop excessive AddKeysToReplicationFetcher cmds
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#961 test(royalties): verify royalties fees amounts
  sn_cli/src/subcommands/files/mod.rs
  sn_cli/src/subcommands/register.rs
  sn_client/src/api.rs
  sn_client/src/file_apis.rs
  sn_client/src/register.rs
  sn_networking/src/event.rs
  sn_node/examples/registers.rs
  sn_node/tests/nodes_rewards.rs
  sn_node/tests/storage_payments.rs
  sn_transfers/src/genesis.rs
  sn_transfers/src/lib.rs
Labels: medium, waiting-for-review

#967 feat(royalties): make royalties payment to be 15% of the total storage cost
  sn_cli/src/subcommands/files/mod.rs
  sn_node/src/put_validation.rs
  sn_node/tests/nodes_rewards.rs
  sn_transfers/src/genesis.rs
  sn_transfers/src/lib.rs
  sn_transfers/src/wallet/local_store.rs
Labels: medium, waiting-for-review

#985 fix(CI): only alert during bench, not upload
  .github/workflows/benchmark-prs.yml
Labels: small, waiting-for-review

#987 fix(logs): enable faucet logs
  sn_client/src/faucet/mod.rs
  sn_faucet/src/faucet_server.rs
  sn_faucet/src/main.rs
  sn_logging/src/layers.rs
Labels: small, waiting-for-review

#986 chore: not using seen_cache when add replication list
  .github/workflows/benchmark-prs.yml
  .github/workflows/memcheck.yml
  sn_networking/src/cmd.rs
  sn_networking/src/driver.rs
  sn_networking/src/replication_fetcher.rs
Labels: medium, waiting-for-review

#993 feat(peers_acq): shuffle peers before we return.
  Cargo.lock
  sn_peers_acquisition/Cargo.toml
  sn_peers_acquisition/src/lib.rs
Labels: small, waiting-for-review

#996 chore(release): non gossip handler shall not throw gossip msg up
  sn_client/src/api.rs
  sn_networking/src/cmd.rs
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_node/src/bin/safenode/rpc_service.rs
  sn_node/src/lib.rs
  sn_node/src/node.rs
Labels: small, waiting-for-review

#994 chore: optimise log format of DerivationIndex
  .github/workflows/memcheck.yml
  sn_transfers/benches/reissue.rs
  sn_transfers/src/cashnotes/cashnote.rs
  sn_transfers/src/cashnotes/unique_keys.rs
  sn_transfers/src/genesis.rs
  sn_transfers/src/transfers/transfer.rs
Labels: small, waiting-for-review

#1003 chore(networking): improve logs around replication
  sn_networking/src/event.rs
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#1000 feat: move derivation index random method to itself
  sn_node/tests/sequential_transfers.rs
  sn_transfers/benches/reissue.rs
  sn_transfers/src/cashnotes/mod.rs
  sn_transfers/src/cashnotes/unique_keys.rs
  sn_transfers/src/transfers/offline_transfer.rs
  sn_transfers/src/wallet/local_store.rs
Labels: small, waiting-for-review

#1001 WIP feat: query specific kbuckets for bootstrap
  sn_networking/src/bootstrap.rs
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
Labels: medium, waiting-for-review

#1004 chore: introduce sn_rpc_client
  Cargo.lock
  sn_node_rpc_client/Cargo.toml
  sn_node_rpc_client/README.md
  sn_node_rpc_client/src/error.rs
  sn_node_rpc_client/src/lib.rs
  sn_node_rpc_client/src/main.rs
Labels: large, waiting-for-review

#1007 feat(cli): peers displayed as list
  sn_cli/src/main.rs
Labels: small, waiting-for-review

#1013 chore: update deps
  Cargo.lock
  sn_node/Cargo.toml
Labels: large, waiting-for-review

#1020 chore(node): increase node reward test timeout to match client wait
  sn_node/tests/nodes_rewards.rs
Labels: small, waiting-for-review

#933 feat: publish to non-subscribed topic
  sn_cli/src/subcommands/wallet.rs
  sn_node/src/lib.rs
  sn_node/src/node.rs
  sn_node/src/put_validation.rs
  sn_node/tests/nodes_rewards.rs
  sn_node_rpc_client/src/main.rs
Labels: small, waiting-for-review
