Repository maidsafe/autonomi, pull requests merged in 2023-07, with the labels that each got.

#480 fix(node): verify incoming `Record::key`
  sn_node/src/put_validation.rs
Labels: small, waiting-for-review

#481 ci: give slightly more time to memcheck
  .github/workflows/memcheck.yml
Labels: small

#484 chore(CI): reduce the testing file size
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#488 docs: add docs to `dialed_peers` for explanation
  sn_networking/src/circular_vec.rs
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#494 ci: duplicate proto files for sn_testnet
  sn_testnet/build.rs
  sn_testnet/src/protocol/safenode_proto/req_resp_types.proto
  sn_testnet/src/protocol/safenode_proto/safenode.proto
Labels: medium, waiting-for-review

#496 fix: update nightly node data dir
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#504 ci: increase reg test time
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#503 feat(node): shuffle data waiting for fetch
  sn_networking/src/replication_fetcher.rs
  sn_node/src/api.rs
Labels: small, waiting-for-review

#509 ci: enable workflow dispatch for nightly
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#508 fix(CI): OS dependent tar files and env setup in nightly
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, waiting-for-review

#510 fix: prevent multiple concurrent get_closest calls when joining
  sn_networking/src/event.rs
  sn_node/src/api.rs
Labels: small, waiting-for-review

#501 refactor: chunk files only once when making payment for their storage
  sn_cli/src/subcommands/files.rs
  sn_cli/src/subcommands/wallet.rs
  sn_client/src/file_apis.rs
  sn_protocol/src/storage/chunks.rs
Labels: large, waiting-for-review

#512 chore(metrics): remove network stats
  Cargo.lock
  sn_logging/Cargo.toml
  sn_logging/src/metrics.rs
Labels: medium, waiting-for-review

#522 chore(clippy): fix clippy warnings
  sn_logging/src/lib.rs
Labels: small, waiting-for-review

#528 fix(sn_networking): revert multiaddr pop fn
  sn_networking/src/lib.rs
Labels: small, waiting-for-review

#457 ci: ensure we use rust-cache v2 everywhere
  .github/workflows/benchmark-prs.yml
  .github/workflows/generate-benchmark-charts.yml
  .github/workflows/memcheck.yml
Labels: small, waiting-for-review

#536 chore: remove un-used Query::GetRegister
  sn_node/src/api.rs
  sn_node/src/get_validation.rs
  sn_protocol/src/messages/query.rs
  sn_protocol/src/messages/response.rs
Labels: small, waiting-for-review

#535 feat: faucet integration in testnet bin
  sn_testnet/src/lib.rs
  sn_testnet/src/main.rs
Labels: small, waiting-for-review

#540 chore: cleanup error types
  sn_client/src/api.rs
  sn_client/src/chunks/error.rs
  sn_client/src/error.rs
  sn_logging/src/error.rs
  sn_networking/src/error.rs
  sn_networking/src/event.rs
  sn_node/src/bin/safenode/main.rs
  sn_node/src/error.rs
  sn_node/src/put_validation.rs
  sn_node/src/replication.rs
  sn_node/src/spends.rs
  sn_node/tests/data_with_churn.rs
  sn_protocol/src/error.rs
  sn_protocol/src/messages/mod.rs
  sn_record_store/Cargo.toml
  startup
Labels: medium, waiting-for-review

#549 ci: update benchmark generation for faucet startup
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review, DoNotMerge

#550 fix(testnet): clean the whole safe dir
  sn_testnet/src/main.rs
  sn_transfers/src/dbc_genesis.rs
Labels: small, waiting-for-review

#557 feat(node): fetch all spends for a payment proof concurrently to verify them
  sn_node/src/put_validation.rs
Labels: small, waiting-for-review

#558 feat: add a retry to facuet genesis transfer
  sn_client/src/faucet/mod.rs
Labels: small, waiting-for-review

#559 chore: dep updates
  Cargo.lock
Labels: medium, waiting-for-review

#561 feat(node): make the faucet use rustls as opposed to openssl
  Cargo.lock
  sn_cli/Cargo.toml
  sn_node/Cargo.toml
Labels: medium, waiting-for-review

#569 feat(networking): record store prunes more frequently.
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#577 feat(node): add marker for a network connection timeout
  sn_networking/src/event.rs
  sn_node/src/api.rs
  sn_node/src/log_markers.rs
Labels: small, waiting-for-review

#588 chore(CI): more tracable wallet setup for memcheck
  .github/workflows/memcheck.yml
Labels: small, waiting-for-review
