Repository maidsafe/autonomi, pull requests merged in 2024-03, with the labels that each got.

#1407 chore: unit test for calculate cost for records
  sn_networking/src/record_store.rs
Labels: tests

#1437 refactor: reorganise command processing
  sn_node_manager/src/bin/cli/main.rs
  sn_node_manager/src/cmd/daemon.rs
  sn_node_manager/src/cmd/faucet.rs
  sn_node_manager/src/cmd/local.rs
  sn_node_manager/src/cmd/mod.rs
  sn_node_manager/src/cmd/node.rs
  sn_node_manager/src/lib.rs
Labels: small, Refactor

#1431 ci: run sn_client with network
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
Labels: small, infrastructure

#1447 chore(deps): remove version from local dev deps
  sn_node/Cargo.toml
  sn_node_manager/Cargo.toml
Labels: small, infrastructure

#1449 fix(ci): build packages separately to bypass feature unification process
  .github/workflows/merge.yml
  sn_node/Cargo.toml
  sn_node_manager/Cargo.toml
  sn_service_management/Cargo.toml
Labels: small, infrastructure

#1450 fix(test): make tweaks to wan nightly tests
  .github/workflows/nightly_wan.yml
  sn_node/tests/common/client.rs
  sn_node/tests/verify_data_location.rs
Labels: small, tests, Refactor

#1473 chore(node): reduce bad_nodes check resource usage
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_node/src/node.rs
Labels: small

#1483 fix(manager): store exclusive reference to service data instead of cl…
  sn_node_manager/src/cmd/daemon.rs
  sn_node_manager/src/cmd/faucet.rs
  sn_node_manager/src/cmd/node.rs
  sn_node_manager/src/lib.rs
  sn_node_manager/src/rpc.rs
  sn_service_management/src/daemon.rs
  sn_service_management/src/faucet.rs
  sn_service_management/src/lib.rs
  sn_service_management/src/node.rs
Labels: medium

#1488 fix(register): shortcut permissions check when anyone can write to Register
  sn_registers/src/register.rs
Labels: small

#1500 chore(node): optimization to reduce logging
  sn_networking/src/replication_fetcher.rs
Labels: small

#1495 feat: remove gossip code
  .github/workflows/merge.yml
  .github/workflows/nightly.yml
  .github/workflows/nightly_wan.yml
  sn_cli/README.md
  sn_cli/src/main.rs
  sn_cli/src/subcommands.rs
  sn_cli/src/subcommands/gossipsub.rs
  sn_cli/src/subcommands/wallet/wo_wallet.rs
  sn_client/src/api.rs
  sn_client/src/event.rs
  sn_client/src/register.rs
  sn_client/src/test_utils.rs
  sn_client/src/wallet.rs
  sn_faucet/src/main.rs
  sn_faucet/src/token_distribution.rs
  sn_networking/Cargo.toml
  sn_networking/src/cmd.rs
  sn_networking/src/driver.rs
  sn_networking/src/error.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_networking/src/metrics.rs
  sn_node/Cargo.toml
  sn_node/examples/register_inspect.rs
  sn_node/examples/registers.rs
  sn_node/src/bin/safenode/rpc_service.rs
  sn_node/src/event.rs
  sn_node/src/lib.rs
  sn_node/src/node.rs
  sn_node/src/put_validation.rs
  sn_node/tests/common/client.rs
  sn_node/tests/data_with_churn.rs
  sn_node/tests/double_spend.rs
  sn_node/tests/msgs_over_gossipsub.rs
  sn_node/tests/nodes_rewards.rs
  sn_node/tests/sequential_transfers.rs
  sn_node/tests/storage_payments.rs
  sn_node/tests/verify_data_location.rs
  sn_node_manager/src/lib.rs
  sn_node_manager/src/local.rs
  sn_node_rpc_client/README.md
  sn_node_rpc_client/src/main.rs
  sn_protocol/src/safenode_proto/req_resp_types.proto
  sn_protocol/src/safenode_proto/safenode.proto
  sn_service_management/README.md
  sn_service_management/src/error.rs
  sn_service_management/src/rpc.rs
Labels: large, Pending on Upcoming Changes

#1502 feat(transfers): enable client to check if a quote has expired
  sn_client/src/files.rs
  sn_client/src/folders.rs
  sn_client/src/register.rs
  sn_client/src/wallet.rs
  sn_node/src/error.rs
  sn_node/src/quote.rs
  sn_transfers/src/lib.rs
  sn_transfers/src/wallet.rs
  sn_transfers/src/wallet/data_payments.rs
  sn_transfers/src/wallet/error.rs
Labels: enhancement, medium

#1507 chore(node): reduce bad_node check concureent queries
  sn_node/src/node.rs
Labels: small

#1485 feat(cli): expose AccountPacket APIs from a lib so it can be used by other apps
  sn_cli/Cargo.toml
  sn_cli/src/acc_packet.rs
  sn_cli/src/acc_packet/change_tracking.rs
  sn_cli/src/bin/main.rs
  sn_cli/src/bin/subcommands/files.rs
  sn_cli/src/bin/subcommands/folders.rs
  sn_cli/src/bin/subcommands/mod.rs
  sn_cli/src/bin/subcommands/register.rs
  sn_cli/src/bin/subcommands/wallet.rs
  sn_cli/src/bin/subcommands/wallet/audit.rs
  sn_cli/src/bin/subcommands/wallet/helpers.rs
  sn_cli/src/bin/subcommands/wallet/hot_wallet.rs
  sn_cli/src/bin/subcommands/wallet/wo_wallet.rs
  sn_cli/src/files.rs
  sn_cli/src/files/chunk_manager.rs
  sn_cli/src/files/download.rs
  sn_cli/src/files/estimate.rs
  sn_cli/src/files/iterative_uploader.rs
  sn_cli/src/files/upload.rs
  sn_cli/src/lib.rs
  sn_cli/src/subcommands.rs
Labels: medium, Refactor

#1501 chore(node): refactor pricing metrics
  sn_networking/src/cmd.rs
  sn_networking/src/lib.rs
  sn_networking/src/record_store.rs
  sn_networking/src/record_store_api.rs
  sn_node/src/node.rs
  sn_node/src/quote.rs
  sn_transfers/src/lib.rs
  sn_transfers/src/wallet.rs
  sn_transfers/src/wallet/data_payments.rs
Labels: small, Refactor

#1515 feat: svg caching, fault tolerance during DAG collection
  Cargo.lock
  sn_auditor/Cargo.toml
  sn_auditor/src/dag_db.rs
  sn_auditor/src/main.rs
  sn_auditor/src/routes.rs
  sn_client/src/audit/spend_dag.rs
  sn_client/src/audit/spend_dag_building.rs
  sn_client/src/lib.rs
Labels: small

#1527 docs: add release commit generation docs
  README.md
Labels: documentation, small

#1530 chore: make sure cargo set-version is installed
  resources/scripts/bump_version.sh
Labels: small, infrastructure

#1532 ci: fix node manager binary packaging
  Justfile
Labels: small, infrastructure, Merge When Ready

#1533 fix(client): perform re-attempts to clear pending transactions
  sn_client/src/wallet.rs
Labels: small, Merge When Ready

#1531 feat(node): bad quoting detection
  sn_networking/src/cmd.rs
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
  sn_networking/src/lib.rs
  sn_networking/src/record_store.rs
  sn_node/src/node.rs
  sn_node/src/put_validation.rs
  sn_node/src/quote.rs
  sn_protocol/src/messages/cmd.rs
  sn_protocol/src/messages/response.rs
  sn_transfers/src/wallet/data_payments.rs
Labels: medium, +1

#1534 fix(client): do not check quote expiry from the client
  sn_client/src/files.rs
  sn_client/src/register.rs
  sn_client/src/uploader/mod.rs
  sn_client/src/uploader/tests/mod.rs
  sn_client/src/uploader/tests/setup.rs
  sn_client/src/uploader/upload.rs
  sn_client/src/wallet.rs
  sn_node/tests/storage_payments.rs
  sn_transfers/src/wallet/api.rs
Labels: small, tests, Merge When Ready
