Repository maidsafe/autonomi, pull requests merged in 2024-01, with the labels that each got.

#1122 feat: pick cheapest payee using linear pricing curve
  sn_networking/src/cmd.rs
  sn_networking/src/lib.rs
  sn_networking/src/record_store.rs
  sn_networking/src/record_store_api.rs
  sn_node/src/put_validation.rs
Labels: medium, waiting-for-review

#1124 chore: no more max_records cap
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#1125 chore(cli): print the datamap's entire hex addr
  sn_cli/src/subcommands/files/mod.rs
Labels: small, waiting-for-review

#1127 chore(cli): print the datamap's entire hex addr for public files
  sn_cli/src/subcommands/files/mod.rs
Labels: small, waiting-for-review

#1128 chore(node): reduce node default logging level
  sn_node/src/bin/safenode/main.rs
Labels: small, waiting-for-review

#1132 feat(network): move the kad::put_record_to inside PutRecordCfg
  sn_client/src/api.rs
  sn_client/src/register.rs
  sn_networking/src/cmd.rs
  sn_networking/src/driver.rs
  sn_networking/src/lib.rs
Labels: medium, waiting-for-review

#1133 chore(cli): error if there is no file to upload
  sn_cli/src/subcommands/files/chunk_manager.rs
Labels: small, waiting-for-review

#1134 feat(cli): store uploaded file metadata
  Cargo.lock
  sn_cli/Cargo.toml
  sn_cli/src/subcommands/files/chunk_manager.rs
  sn_cli/src/subcommands/files/mod.rs
Labels: medium, waiting-for-review

#1136 docs: update root docs
  README.md
  sn_build_info/README.md
Labels: small, waiting-for-review, docs

#1148 fix(cli): read datamap when the xor addr of the file is provided
  sn_cli/src/subcommands/files/mod.rs
Labels: small, waiting-for-review

#1140 test(CI): replicate bench with heavy uploads
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#1137 docs: more doc updates to readme files
  README.md
  sn_cli/README.md
  sn_client/README.md
  sn_node/README.md
  sn_peers_acquisition/README.md
  sn_transfers/README.md
Labels: small, waiting-for-review, docs

#1153 chore: get spend from network only require Majority
  sn_client/src/api.rs
  sn_client/src/wallet.rs
  sn_networking/src/lib.rs
  sn_networking/src/transfers.rs
  sn_node/src/put_validation.rs
  sn_node/tests/sequential_transfers.rs
Labels: medium, waiting-for-review

#1160 feat(client): extra sleep between chunk verification
  sn_networking/src/lib.rs
  sn_transfers/src/wallet/wallet_file.rs
Labels: small, waiting-for-review

#1161 chore: update all deps
  Cargo.lock
Labels: large, waiting-for-review

#1144 feat: allow register CLI to create a public register writable to anyone
  .github/workflows/merge.yml
  Cargo.lock
  sn_cli/Cargo.toml
  sn_cli/src/subcommands/register.rs
  sn_client/src/api.rs
  sn_client/src/register.rs
  sn_node/examples/registers.rs
  sn_node/tests/data_with_churn.rs
  sn_node/tests/nodes_rewards.rs
  sn_node/tests/storage_payments.rs
Labels: medium, waiting-for-review

#1162 chore(client): refactor client upload flow
  .github/workflows/merge.yml
  sn_client/src/error.rs
  sn_client/src/files/upload.rs
  sn_client/src/wallet.rs
  sn_networking/src/lib.rs
  sn_node/tests/verify_data_location.rs
Labels: large, waiting-for-review

#1174 chore: make `first` argument public
  sn_peers_acquisition/src/lib.rs
Labels: small, waiting-for-review

#1178 fix(client): avoid dead lock with less chunks
  sn_client/src/files/upload.rs
Labels: small, waiting-for-review

#1170 ci: use node manager for running local testnets
  .github/workflows/benchmark-prs.yml
  .github/workflows/memcheck.yml
  .github/workflows/merge.yml
  .github/workflows/release.yml
  sn_node/tests/common/client.rs
  sn_protocol/Cargo.toml
  sn_protocol/src/error.rs
  sn_protocol/src/lib.rs
  sn_protocol/src/node_registry.rs
Labels: medium, waiting-for-review

#1184 fix(client): avoid deadlock during upload in case of error
  sn_client/src/files/upload.rs
Labels: small, waiting-for-review

#1187 chore: remove arg and env variable combination
  .github/workflows/memcheck.yml
  sn_peers_acquisition/src/lib.rs
Labels: small, waiting-for-review

#1191 fix(wallet): remove unconfirmed_spends file from disk when all confirmed
  sn_transfers/src/wallet/local_store.rs
  sn_transfers/src/wallet/wallet_file.rs
Labels: small, waiting-for-review

#1189 chore(CI): check the home dir space
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#1193 docs: new wallet client example
  sn_client/src/wallet.rs
Labels: small, waiting-for-review

#1197 docs: new wallet docs
  sn_client/src/wallet.rs
Labels: small, waiting-for-review

#1179 feat(faucet): download snapshot of maid balances
  Cargo.lock
  sn_faucet/Cargo.toml
  sn_faucet/src/faucet_server.rs
  sn_transfers/Cargo.toml
Labels: medium, waiting-for-review

#1203 feat: set quic as default transport
  sn_client/Cargo.toml
  sn_faucet/Cargo.toml
  sn_networking/src/driver.rs
  sn_node/Cargo.toml
  sn_peers_acquisition/Cargo.toml
  sn_peers_acquisition/src/lib.rs
  sn_protocol/Cargo.toml
  sn_protocol/src/node_registry.rs
  sn_testnet/Cargo.toml
  sn_testnet/src/lib.rs
Labels: small, waiting-for-review

#1201 fix(ci): use latest testnet action log upload changes
  .github/workflows/merge.yml
Labels: small, waiting-for-review

#1212 chore(deps): update deps to fix h2 vulnerability error
  Cargo.lock
Labels: small, waiting-for-review

#1202 feat: spend dag utils
  Cargo.lock
  sn_client/Cargo.toml
  sn_client/src/audit/mod.rs
  sn_client/src/audit/spend_dag.rs
  sn_client/src/audit/spend_dag_building.rs
  sn_client/src/error.rs
  sn_transfers/src/cashnotes/transaction.rs
Labels: large, waiting-for-review

#1207 Unused sss
  sn_client/src/wallet.rs
Labels: medium, waiting-for-review

#1206 chore: include connected peers in node
  sn_protocol/src/node_registry.rs
Labels: small, waiting-for-review

#1198 feat: init for token supply server
  Cargo.lock
  Cargo.toml
  token_supplies/Cargo.toml
  token_supplies/README.md
  token_supplies/src/main.rs
Labels: medium, waiting-for-review

#1217 chore(node): reduce MAX_UNCOMPRESSED_LOG_FILES to 10
  sn_logging/src/layers.rs
Labels: small, waiting-for-review

#1221 chore(test): lift up the expectations within address sim test
  sn_networking/src/record_store.rs
Labels: small, waiting-for-review

#1226 fix(CI): log in trace during generate bench chart run
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#1215 Wallet documentation branch
  sn_client/src/wallet.rs
Labels: medium, waiting-for-review

#1231 ci: add `safenode-manager` to the release process
  .github/workflows/release.yml
  Justfile
  release-plz.toml
Labels: small, waiting-for-review

#1234 docs: UPDATED README.md
  README.md
Labels: small, waiting-for-review, docs

#1238 chore(manager): make VerbosityLevel a public type
  sn_node_manager/src/main.rs
Labels: small, waiting-for-review

#1239 refactor(manager): provide rpc address instead of rpc port
  sn_node/tests/common/client.rs
  sn_node_manager/src/add_service.rs
  sn_node_manager/src/control.rs
  sn_node_manager/src/local.rs
  sn_node_manager/src/main.rs
  sn_node_manager/src/service.rs
  sn_node_rpc_client/src/lib.rs
  sn_protocol/src/node_registry.rs
Labels: large, waiting-for-review

#1229 feat(nodes): encrypt all records before disk, decrypt on get
  .github/workflows/benchmark-prs.yml
  Cargo.lock
  sn_networking/Cargo.toml
  sn_networking/src/record_store.rs
Labels: medium, waiting-for-review

#1244 fix(client): error out on verify_chunk_store
  sn_client/src/api.rs
Labels: small, waiting-for-review

#1245 ci: build node manager on local network start
  .github/workflows/generate-benchmark-charts.yml
Labels: small, waiting-for-review

#1242 chore(client): log client upload failure error
  sn_client/src/files/upload.rs
Labels: small, waiting-for-review

#1247 chore(rpc): add retry during initial connection and better error logging
  sn_node_rpc_client/src/error.rs
  sn_node_rpc_client/src/lib.rs
Labels: medium, waiting-for-review

#1235 Wallet client branch
  sn_client/src/wallet.rs
Labels: documentation, medium, waiting-for-review, docs
