Repository maidsafe/autonomi, pull requests merged in 2024-04, with the labels that each got.

#1518 feat(node): carry out chunk_proof chunk against peer
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_node/src/node.rs
Labels: Small, Merge When Ready

#1543 fix(node): add only the external addresses with the configured port
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
Labels: Small, Refactor, Merge When Ready

#1539 chore(auditor): set repository field in cargo
  sn_auditor/Cargo.toml
Labels: Small, Infrastructure

#1552 Allow nodes sig verify quotes (Updates libp2p to 0.53)
  Cargo.lock
  sn_networking/src/lib.rs
  sn_node/src/quote.rs
  sn_transfers/Cargo.toml
  sn_transfers/src/wallet/data_payments.rs
Labels: Small, Merge When Ready

#1564 test(transfer): unit tests for PaymentQuote
  sn_transfers/src/wallet/data_payments.rs
Labels: Small, Tests, Description Needed

#1577 feat: report protocol mismatch error
  sn_cli/src/bin/main.rs
  sn_client/src/api.rs
  sn_client/src/error.rs
  sn_client/src/event.rs
  sn_faucet/src/main.rs
  sn_networking/src/driver.rs
  sn_networking/src/event.rs
  sn_node/src/node.rs
Labels: Enhancement, Small, Merge When Ready

#1582 feat: unit testing dag, double spend poisoning tweaks
  sn_cli/src/bin/subcommands/wallet/wo_wallet.rs
  sn_client/src/audit.rs
  sn_client/src/audit/dag_error.rs
  sn_client/src/audit/spend_check.rs
  sn_client/src/audit/spend_dag.rs
  sn_client/src/audit/spend_dag_building.rs
  sn_client/src/audit/tests/mod.rs
  sn_client/src/audit/tests/setup.rs
  sn_node/tests/double_spend.rs
  sn_transfers/benches/reissue.rs
  sn_transfers/src/transfers/offline_transfer.rs
  sn_transfers/src/wallet/hot_wallet.rs
Labels: Enhancement, Small, Tests, Refactor, Merge When Ready

#1580 feat(node): notify peer it is now considered as BAD
  sn_networking/src/cmd.rs
  sn_networking/src/event.rs
  sn_node/src/node.rs
  sn_protocol/src/messages/cmd.rs
  sn_protocol/src/messages/response.rs
Labels: Breaking Change

#1617 test(CI): confirm there is no failed replication fetch
  .github/workflows/merge.yml
  sn_networking/src/replication_fetcher.rs
  sn_node/src/node.rs
Labels: Small, Tests, Infrastructure, +1, Description Needed

#1616 fix(ci): update the custom branch variable names
  .github/workflows/nightly_wan.yml
  .github/workflows/nightly_wan_churn.yml
Labels: Small, Infrastructure, Merge When Ready, Description Needed

#1618 feat: spend dag double spend faults
  sn_client/src/audit/spend_dag.rs
  sn_client/src/audit/tests/mod.rs
Labels: Small, Tests, Merge When Ready

#1626 ci: suppress release-plz instrumentation output
  .github/workflows/release.yml
Labels: Small, Infrastructure, Refactor

#1629 chore(node): remove duplicated record_store fullness check
  sn_networking/src/record_store.rs
Labels: Small, Merge When Ready

#1628 docs: local command
  README.md
Labels: Documentation, Small

#1630 fix(node): avoid false alert on FailedLocalRecord
  sn_networking/src/record_store.rs
Labels: Small, Merge When Ready, Description Needed

#1627 chore(node): do not reset farthest_acceptance_distance
  sn_networking/src/cmd.rs
  sn_networking/src/replication_fetcher.rs
Labels: Small, Infrastructure, Merge When Ready, Description Needed
